body {
    background-color: rgb(190, 224, 233);
    text-align: center;
    font-family: sans-serif;
}

#main {
    width: auto%;
    margin: 0% 5% 0% 5%;
}

h1 {
    color: indianred;
}

h2 {
    
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

footer {
    margin: 5%;
}

form input {
    width: 50%;
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#mais {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
